@model IEnumerable<Laurus.Blog.Models.EntryModel>
@{
    ViewBag.Title = "Index";
}

@*    @Html.Action("_Sidebar")*@

<h2>@ViewBag.Message</h2>
  @foreach(var m in Model)
    {
        <h3>@Html.ActionLink(@m.Title, "Details", new { id = @m.Id })</h3>
        <div>
            @m.Content
        </div>
    }